.check {
  bottom: 10px;
  height: 20px;
  position: absolute;
  right: 10px;
  user-select: none;
  width: 20px;
}

.ingredient-card {
  background-color: rgba(196, 196, 196, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  cursor: pointer;
  height: 100px;
  position: relative;
  margin: 10px 7.5px;
  width: 100px;

  &.selected {
    background-color: rgba(196, 196, 196, 0.4);
  }
}

@media (min-width: 769px) {
  .ingredient-card {
    height: 200px;
    margin: 20px 15px;
    width: 200px;
  }

  .check {
    height: 40px;
    width: 40px;
  }
}