.ingredient-card {
  background-color: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  cursor: pointer;
  height: 85px;
  position: relative;
  margin: 10px 7.5px;
  width: 85px;

  &.selected {
    background-color: rgba(196, 196, 196, 0.4);
  }

  .check {
    bottom: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
    user-select: none;
    width: 20px;
  }
}

@media (min-width: 769px) {
  .ingredient-card {
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    height: 200px;
    margin: 20px 15px;
    width: 200px;
  }

  .check {
    height: 40px;
    width: 40px;
  }
}