.tap-card {
  display: inline-block;
  .ingredient-card {
    margin-bottom: 0px;
    margin-top: 0px;
  }
 
  h1 {
    font-size: 1em;
  }
  h2 {
    color: #ACACAC;
    font-size: 0.8em;
    font-weight: 400;

  }
}