.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    position: relative;

    .email {
      width: 20px;
      left: 15px;
      position: absolute;
      top: 32px;
    }

    .lock {
      width: 20px;
      left: 15px;
      position: absolute;
      top: 12px;
    }

    .password, .username {
      border: none;
      border-bottom: 1px solid #ACACAC;
      cursor: pointer;
      height: 50px;
      outline: none;
      font-size: 1.1em;
      padding-left: 50px;
      position: relative;
      width: 300px;
    }
    .username {
      margin: 15px 0;
    }
  }

  input::placeholder {
    color: #ACACAC;
  }

  .login {
    background: linear-gradient(90deg, #1CD8D2 0%, #93EDC7 100%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 7vh 25px;
    height: 45px;
    outline: none;
    text-align: center;
    width: 300px;
  }
}