.ingredients-tab {
  max-height: 70vh;
  max-width: 715px;
  margin: auto;
  overflow: scroll;
  width: 70vw;

  .ingredients-grid {
    margin: auto;
    overflow: scroll;
    white-space: nowrap;

    h1, h2 {
      padding-left: 15px;
    }

    .ingredient-section {
      margin-top: 20px;
    }
  }
}

@media (min-width: 769px) {
  .ingredients-tab {
    .grid {
      width: 715px;
    }
    h1,h2 {
      padding-left: 7.5px;
    }
  }
}