.grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  max-height: 75vh;
  justify-content: flex-start;
  margin: auto;
  overflow: scroll;
  width: 312px;
}

@media (min-width: 769px) {
  .grid {
    width: 702px;
  }
}