.ingredients {
  min-height: 75vh;
  position: relative;

  .complete {
    background: rgba(196, 196, 196, 0.7);
    border: none;
    border-radius: 8px;
    bottom: 20px;
    cursor: pointer;
    font-size: 1.2em;
    position: absolute;
    height: 50px;
    left: calc(50vw - 100px);
    outline: none;
    text-align: center;
    width: 200px; 
    z-index: 2;
  }

  .grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-height: 75vh;
    justify-content: flex-start;
    margin: auto;
    overflow: scroll;
    width: 312px;
  }
}

@media (min-width: 769px) {
  .ingredients {
    .grid {
      width: 702px;
    }
  }
}