.ant-modal {
  top: 15vh;
  margin: 0 auto;
  width: 90vw !important;
}

.ant-modal-body {
  padding: 0;
}

.camera-modal {
  height: 70vh;
  position: relative;
  width: 100%;

  video, img {
    object-fit: cover;
  }

  .camera, .screenshot, canvas {
    position: absolute;
    left: calc(45vw - 120px);
    margin: auto;
    height: 400px;
    top: calc(35vh - 200px);
    width: 240px;
  }
}

#scan {
  background-color: white;
  bottom: 5vh;
  left: calc(45vw - 100px);
  position: absolute;
  width: 200px;
}

@media (min-width: 769px) {
  .ant-modal {
    width: 60vw !important;
  }

  .camera-modal {
    width: 100%;

    h1 {
      position: absolute;
      left: calc(45vw - 100px);
    }
  
    .camera, .screenshot, canvas {
      height: 62.5vh;
      width: 50vh;
      left: 5vw;
      top: 3.75vh;
    }
  }

}
