.ant-modal {
  top: 10vh;
  margin: 0 auto;
  width: 90vw !important;
}

.ant-modal-container {
  border-radius: 10px;
}

.ant-modal-body {
  padding: 0;
}

.description {
  color: #ACACAC;
  font-size: 1em;
  font-weight: 400;
}

.ingredients-modal {
  display: none;
  font-size: 1.2em;
  left: calc(45vw - 150px);
  top: 10vh;
  position: absolute;
}

.message {
  background-color: white;
  border-radius: 5px;
  bottom: 13vh;
  color: #ACACAC;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.camera-modal {
  height: 80vh;
  position: relative;
  width: 100%;

  h1 {
    left: 10%;
    margin-top: 2vh;
    position: absolute;
    width: 250px;

    .underline {
      border-bottom: #1CD8D2 solid 5px;
    }
  }

  h2 {
    font-weight: 400;
    left: 10%;
    margin-top: 8vh;
    position: absolute;
    width: 150px;
  }

  video, img {
    object-fit: cover;
  }

  .camera, .screenshot, canvas {
    border-radius: 5px;
    height: 60%;
    left: 10%;
    position: absolute;
    margin: auto;
    top: 22%;
    width: 80%;
  }
}

#scan {
  background: linear-gradient(90deg, #1CD8D2 0%, #93EDC7 100%);
  border: none;
  border-radius: 5px;
  bottom: 5vh;
  color: white;
  height: 40px;
  left: 10%;
  position: absolute;
  width: 80%;
}

@media (min-width: 769px) {
  .ant-modal {
    width: 60vw !important;
  }
  .ingredients-modal {
    display: block;
  }

  .camera-modal {
    width: 100%;
  }

}
