.recipe-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-height: 25vh;
  max-width: 715px;
  width: 80vw;
  
  .back {
    margin: 25px 0;
  }

  .description {
    color: #ACACAC;
    font-size: 1em;
    font-weight: 400;
    width: 230px;
  }

  h1 {
    flex-basis: 100%;
    font-size: 2em;

    .underline {
      padding-bottom: 5px;
      border-bottom: #1CD8D2 solid 5px;
    }
  }
}