.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  margin: auto;
  padding-left: 18px;
  width: 312px;

  .back {
    margin: 25px 0;
  }

  .description {
    color: #ACACAC;
    font-size: 1em;
    font-weight: 400;
    width: 150px;
  }

  h1 {
    flex-basis: 100%;
    font-size: 2em;

    .underline {
      border-bottom: #1CD8D2 solid 5px;
      padding-bottom: 5px;
    }
  }

  .search-bar-container {
    position: relative;
    margin-top: 20px;

    .camera {
      border: 2px solid transparent;
      cursor: pointer;
      height: 35px;
      margin-left: 10px;
      padding: 5px 8px;
    }

    .search {
      left: 10px;
      height: 16px;
      position: absolute;
      top: 8px;
    }

    .search-bar {
      border: none;
      border-bottom: 1px solid #ACACAC;
      font-size:1em;
      height: 31px;
      padding-left: 35px;
      width: 237px;

      &:focus {
        outline-width: 0;
      }

      &::placeholder {
        color: #ACACAC;
      }
    }
  }
}


@media (min-width: 769px) {
  .header {
    padding-left: 23px;
    width: 715px;
    .search-bar-container {
      .search-bar {
        width: 615px;
      }
    }
  }

}